body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Sample_B_C_Body_files/u35_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:430px;
    width:980px;
    height:590px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:596px;
}

.u1 {
    position:absolute;
    left:2px;
    top:287px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Sample_B_C_Body_files/u37_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:529px;
    width:300px;
    height:200px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:206px;
}

.u3 {
    position:absolute;
    left:5px;
    top:50px;
    width:290px;
    height:126px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Sample_B_C_Body_files/u37_normal.png');
}

.u4_container {
    position:absolute;
    left:336px;
    top:529px;
    width:300px;
    height:200px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:206px;
}

.u5 {
    position:absolute;
    left:5px;
    top:50px;
    width:290px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Sample_B_C_Body_files/u37_normal.png');
}

.u6_container {
    position:absolute;
    left:665px;
    top:529px;
    width:300px;
    height:200px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:206px;
}

.u7 {
    position:absolute;
    left:5px;
    top:50px;
    width:290px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Sample_B_C_Body_files/u43_normal.png');
}

.u8_container {
    position:absolute;
    left:130px;
    top:500px;
    width:60px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Sample_B_C_Body_files/u43_normal.png');
}

.u10_container {
    position:absolute;
    left:447px;
    top:500px;
    width:60px;
    height:60px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Sample_B_C_Body_files/u43_normal.png');
}

.u12_container {
    position:absolute;
    left:785px;
    top:500px;
    width:60px;
    height:60px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u13 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Sample_B_C_Body_files/u37_normal.png');
}

.u14_container {
    position:absolute;
    left:10px;
    top:779px;
    width:300px;
    height:200px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:206px;
}

.u15 {
    position:absolute;
    left:5px;
    top:50px;
    width:290px;
    height:126px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Sample_B_C_Body_files/u37_normal.png');
}

.u16_container {
    position:absolute;
    left:336px;
    top:779px;
    width:300px;
    height:200px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:206px;
}

.u17 {
    position:absolute;
    left:5px;
    top:50px;
    width:290px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Sample_B_C_Body_files/u37_normal.png');
}

.u18_container {
    position:absolute;
    left:665px;
    top:779px;
    width:300px;
    height:200px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:206px;
}

.u19 {
    position:absolute;
    left:5px;
    top:50px;
    width:290px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Sample_B_C_Body_files/u43_normal.png');
}

.u20_container {
    position:absolute;
    left:130px;
    top:750px;
    width:60px;
    height:60px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u21 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Sample_B_C_Body_files/u43_normal.png');
}

.u22_container {
    position:absolute;
    left:447px;
    top:750px;
    width:60px;
    height:60px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u23 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Sample_B_C_Body_files/u43_normal.png');
}

.u24_container {
    position:absolute;
    left:785px;
    top:750px;
    width:60px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u25 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Sample_B_C_Body_files/u61_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:1009px;
    width:980px;
    height:160px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:166px;
}

.u27 {
    position:absolute;
    left:2px;
    top:72px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:10px;
    top:1034px;
    width:210px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:10px;
    top:1059px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:10px;
    top:1085px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:10px;
    top:1111px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:765px;
    top:1034px;
    width:210px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:765px;
    top:1059px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:765px;
    top:1085px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:765px;
    top:1111px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:260px;
    top:1034px;
    width:210px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:260px;
    top:1059px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:260px;
    top:1085px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:260px;
    top:1111px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:480px;
    top:1034px;
    width:210px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:480px;
    top:1059px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:480px;
    top:1085px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:480px;
    top:1111px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Sample_B_C_Body_files/u79_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:1169px;
    width:980px;
    height:50px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:56px;
}

.u45 {
    position:absolute;
    left:2px;
    top:18px;
    width:976px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:336px;
    top:450px;
    width:324px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:765px;
    top:1137px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Sample_B_C_Body_files/u83_normal.png');
}

.u48_container {
    position:absolute;
    left:371px;
    top:606px;
    width:230px;
    height:110px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:236px;
    height:116px;
}

.u49 {
    position:absolute;
    left:2px;
    top:47px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Sample_B_C_Body_files/u85_normal.png');
}

.u50_container {
    position:absolute;
    left:461px;
    top:636px;
    width:50px;
    height:50px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u51 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Sample_B_C_Body_files/u87_normal.png');
}

.u52_container {
    position:absolute;
    left:471px;
    top:641px;
    width:40px;
    height:40px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u53 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../TS_BAR_files/u71_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:50px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:56px;
}

.u56 {
    position:absolute;
    left:2px;
    top:17px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../TS_BAR_files/u73_normal.png');
}

.u57_container {
    position:absolute;
    left:11px;
    top:5px;
    width:40px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u58 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../TS_BAR_files/u75_normal.png');
}

.u59_container {
    position:absolute;
    left:52px;
    top:9px;
    width:180px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Sample_B_2_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:50px;
    width:980px;
    height:380px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:386px;
}

.u63 {
    position:absolute;
    left:2px;
    top:182px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Sample_B_2_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:500px;
    top:245px;
    width:470px;
    height:169px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:175px;
}

.u65 {
    position:absolute;
    left:2px;
    top:76px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:510px;
    top:263px;
    width:340px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Sample_B_2_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:510px;
    top:298px;
    width:290px;
    height:35px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:41px;
}

.u68 {
    position:absolute;
    left:10px;
    top:8px;
    width:278px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Sample_B_2_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:510px;
    top:348px;
    width:260px;
    height:40px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u70 {
    position:absolute;
    left:10px;
    top:11px;
    width:248px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Sample_B_2_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:780px;
    top:348px;
    width:180px;
    height:40px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u72 {
    position:absolute;
    left:2px;
    top:11px;
    width:176px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../Sample_B_2_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:610px;
    top:95px;
    width:360px;
    height:140px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:366px;
    height:146px;
}

.u74 {
    position:absolute;
    left:2px;
    top:62px;
    width:356px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Sample_B_2_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:620px;
    top:108px;
    width:340px;
    height:40px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:46px;
}

.u76 {
    position:absolute;
    left:10px;
    top:11px;
    width:328px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Sample_B_2_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:620px;
    top:158px;
    width:210px;
    height:40px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:46px;
}

.u78 {
    position:absolute;
    left:10px;
    top:11px;
    width:198px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Sample_B_2_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:850px;
    top:158px;
    width:110px;
    height:40px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:46px;
}

.u80 {
    position:absolute;
    left:2px;
    top:11px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:870px;
    top:208px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Sample_B_2_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:800px;
    top:298px;
    width:160px;
    height:35px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:41px;
}

.u83 {
    position:absolute;
    left:5px;
    top:8px;
    width:153px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:10px;
    top:154px;
    width:420px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:10px;
    top:211px;
    width:440px;
    height:135px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Sample_B_2_files/u79_normal.png');
}

.u86_container {
    position:absolute;
    left:10px;
    top:63px;
    width:110px;
    height:40px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:46px;
}

.u87 {
    position:absolute;
    left:2px;
    top:11px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Sample_B_2_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:130px;
    top:63px;
    width:130px;
    height:40px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:46px;
}

.u89 {
    position:absolute;
    left:2px;
    top:11px;
    width:126px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

