body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Sample_A_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:50px;
    width:980px;
    height:430px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:436px;
}

.u1 {
    position:absolute;
    left:2px;
    top:207px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Sample_A_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:630px;
    top:200px;
    width:330px;
    height:260px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:266px;
}

.u3 {
    position:absolute;
    left:2px;
    top:122px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Sample_A_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:640px;
    top:95px;
    width:310px;
    height:85px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:91px;
}

.u5 {
    position:absolute;
    left:2px;
    top:35px;
    width:306px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Sample_A_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:200px;
    width:590px;
    height:260px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:266px;
}

.u7 {
    position:absolute;
    left:2px;
    top:122px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:10px;
    top:60px;
    width:590px;
    height:120px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:126px;
}

.u9 {
    position:absolute;
    left:2px;
    top:17px;
    width:586px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Sample_A_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:730px;
    width:980px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:18px;
    width:976px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Sample_A_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:480px;
    width:980px;
    height:250px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:256px;
}

.u13 {
    position:absolute;
    left:2px;
    top:117px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Sample_A_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:110px;
    top:235px;
    width:390px;
    height:213px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:396px;
    height:219px;
}

.u15 {
    position:absolute;
    left:2px;
    top:99px;
    width:386px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Sample_A_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:280px;
    top:370px;
    width:50px;
    height:50px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:56px;
}

.u17 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Sample_A_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:290px;
    top:375px;
    width:40px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:641px;
    top:215px;
    width:280px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:112px;
    top:210px;
    width:398px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Sample_A_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:640px;
    top:240px;
    width:310px;
    height:52px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:58px;
}

.u23 {
    position:absolute;
    left:10px;
    top:17px;
    width:298px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Sample_A_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:640px;
    top:306px;
    width:310px;
    height:52px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:58px;
}

.u25 {
    position:absolute;
    left:10px;
    top:17px;
    width:298px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Sample_A_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:640px;
    top:369px;
    width:310px;
    height:52px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:58px;
}

.u27 {
    position:absolute;
    left:2px;
    top:17px;
    width:306px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:860px;
    top:433px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Sample_A_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:10px;
    top:490px;
    width:280px;
    height:230px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:236px;
}

.u30 {
    position:absolute;
    left:2px;
    top:30px;
    width:276px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Sample_A_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:320px;
    top:490px;
    width:280px;
    height:230px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:236px;
}

.u32 {
    position:absolute;
    left:2px;
    top:30px;
    width:276px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../TS_BAR_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../TS_BAR_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:11px;
    top:5px;
    width:40px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../TS_BAR_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:52px;
    top:9px;
    width:180px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Sample_A_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:30px;
    top:210px;
    width:60px;
    height:60px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u41 {
    position:absolute;
    left:2px;
    top:15px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Sample_A_files/u40_normal.png');
}

.u42_container {
    position:absolute;
    left:30px;
    top:300px;
    width:60px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u43 {
    position:absolute;
    left:2px;
    top:15px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Sample_A_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:520px;
    top:300px;
    width:60px;
    height:60px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u45 {
    position:absolute;
    left:2px;
    top:15px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Sample_A_files/u40_normal.png');
}

.u46_container {
    position:absolute;
    left:520px;
    top:210px;
    width:60px;
    height:60px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u47 {
    position:absolute;
    left:2px;
    top:15px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Sample_A_files/u40_normal.png');
}

.u48_container {
    position:absolute;
    left:30px;
    top:388px;
    width:60px;
    height:60px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u49 {
    position:absolute;
    left:2px;
    top:15px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Sample_A_files/u40_normal.png');
}

.u50_container {
    position:absolute;
    left:520px;
    top:388px;
    width:60px;
    height:60px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u51 {
    position:absolute;
    left:2px;
    top:15px;
    width:56px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Sample_A_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:630px;
    top:490px;
    width:330px;
    height:230px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:236px;
}

.u53 {
    position:absolute;
    left:2px;
    top:107px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:632px;
    top:497px;
    width:328px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Sample_A_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:630px;
    top:681px;
    width:327px;
    height:39px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:333px;
    height:45px;
}

.u57 {
    position:absolute;
    left:2px;
    top:12px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

