body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:421px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:421px;
    
}

.u1_normal {
    background-image: url('../Public_Tiddlers_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:420px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:426px;
}

.u2 {
    position:absolute;
    left:2px;
    top:202px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:421px;
    overflow:hidden;
}

#pd1u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:421px;
    
}

.u4 {
    position:absolute;
    left:55px;
    top:37px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:55px;
    top:19px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Public_Tiddlers_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:119px;
    top:0px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../Public_Tiddlers_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u8 {
    position:absolute;
    left:218px;
    top:0px;
    width:110px;
    height:10px;
    
}

.u9_line {
    background-image: url('../Public_Tiddlers_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u9 {
    position:absolute;
    left:0px;
    top:136px;
    width:119px;
    height:10px;
    
}

.u10 {
    position:absolute;
    left:55px;
    top:171px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:55px;
    top:153px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:119px;
    top:136px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../Public_Tiddlers_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u13 {
    position:absolute;
    left:218px;
    top:136px;
    width:110px;
    height:10px;
    
}

.u14_line {
    background-image: url('../Public_Tiddlers_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u14 {
    position:absolute;
    left:0px;
    top:73px;
    width:119px;
    height:10px;
    
}

.u15 {
    position:absolute;
    left:55px;
    top:108px;
    width:233px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:55px;
    top:90px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:119px;
    top:73px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../Public_Tiddlers_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u18 {
    position:absolute;
    left:218px;
    top:73px;
    width:110px;
    height:10px;
    
}

.u19_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:5px;
    top:89px;
    width:40px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:4px;
    top:86px;
    width:42px;
    height:43px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u22 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:5px;
    top:153px;
    width:40px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u25_container {
    position:absolute;
    left:4px;
    top:150px;
    width:42px;
    height:43px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u27_container {
    position:absolute;
    left:5px;
    top:22px;
    width:40px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u29_container {
    position:absolute;
    left:4px;
    top:19px;
    width:42px;
    height:43px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u30 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:55px;
    top:238px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:55px;
    top:220px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_line {
    background-image: url('../Public_Tiddlers_files/u33_line.png');
}

.u33_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u33 {
    position:absolute;
    left:0px;
    top:201px;
    width:119px;
    height:10px;
    
}

.u34 {
    position:absolute;
    left:119px;
    top:201px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_line {
    background-image: url('../Public_Tiddlers_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u35 {
    position:absolute;
    left:218px;
    top:201px;
    width:110px;
    height:10px;
    
}

.u36_line {
    background-image: url('../Public_Tiddlers_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u36 {
    position:absolute;
    left:0px;
    top:337px;
    width:119px;
    height:10px;
    
}

.u37 {
    position:absolute;
    left:55px;
    top:372px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:55px;
    top:354px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:119px;
    top:337px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../Public_Tiddlers_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u40 {
    position:absolute;
    left:218px;
    top:337px;
    width:110px;
    height:10px;
    
}

.u41_line {
    background-image: url('../Public_Tiddlers_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u41 {
    position:absolute;
    left:0px;
    top:274px;
    width:119px;
    height:10px;
    
}

.u42 {
    position:absolute;
    left:55px;
    top:309px;
    width:233px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:55px;
    top:291px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:119px;
    top:274px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../Public_Tiddlers_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u45 {
    position:absolute;
    left:218px;
    top:274px;
    width:110px;
    height:10px;
    
}

.u46_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u46_container {
    position:absolute;
    left:5px;
    top:290px;
    width:40px;
    height:40px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u48_container {
    position:absolute;
    left:4px;
    top:287px;
    width:42px;
    height:43px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u49 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u50_container {
    position:absolute;
    left:5px;
    top:354px;
    width:40px;
    height:40px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u52_container {
    position:absolute;
    left:4px;
    top:351px;
    width:42px;
    height:43px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u53 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u54_container {
    position:absolute;
    left:5px;
    top:223px;
    width:40px;
    height:40px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u55 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u56_container {
    position:absolute;
    left:4px;
    top:220px;
    width:42px;
    height:43px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u57 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:421px;
    
}

.u58 {
    position:absolute;
    left:55px;
    top:37px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:55px;
    top:19px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_line {
    background-image: url('../Public_Tiddlers_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u60 {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:10px;
    
}

.u61 {
    position:absolute;
    left:119px;
    top:0px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../Public_Tiddlers_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u62 {
    position:absolute;
    left:218px;
    top:0px;
    width:110px;
    height:10px;
    
}

.u63_line {
    background-image: url('../Public_Tiddlers_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u63 {
    position:absolute;
    left:0px;
    top:136px;
    width:119px;
    height:10px;
    
}

.u64 {
    position:absolute;
    left:55px;
    top:171px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:55px;
    top:153px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:119px;
    top:136px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_line {
    background-image: url('../Public_Tiddlers_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u67 {
    position:absolute;
    left:218px;
    top:136px;
    width:110px;
    height:10px;
    
}

.u68_line {
    background-image: url('../Public_Tiddlers_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u68 {
    position:absolute;
    left:0px;
    top:73px;
    width:119px;
    height:10px;
    
}

.u69 {
    position:absolute;
    left:55px;
    top:108px;
    width:233px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:55px;
    top:90px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:119px;
    top:73px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../Public_Tiddlers_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u72 {
    position:absolute;
    left:218px;
    top:73px;
    width:110px;
    height:10px;
    
}

.u73_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u73_container {
    position:absolute;
    left:5px;
    top:89px;
    width:40px;
    height:40px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u74 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u75_container {
    position:absolute;
    left:4px;
    top:86px;
    width:42px;
    height:43px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u76 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u77_container {
    position:absolute;
    left:5px;
    top:153px;
    width:40px;
    height:40px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u78 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u79_container {
    position:absolute;
    left:4px;
    top:150px;
    width:42px;
    height:43px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u80 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u81_container {
    position:absolute;
    left:5px;
    top:22px;
    width:40px;
    height:40px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u82 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u83_container {
    position:absolute;
    left:4px;
    top:19px;
    width:42px;
    height:43px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u84 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:55px;
    top:238px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:55px;
    top:220px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_line {
    background-image: url('../Public_Tiddlers_files/u87_line.png');
}

.u87_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u87 {
    position:absolute;
    left:0px;
    top:201px;
    width:119px;
    height:10px;
    
}

.u88 {
    position:absolute;
    left:119px;
    top:201px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_line {
    background-image: url('../Public_Tiddlers_files/u89_line.png');
}

.u89_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u89 {
    position:absolute;
    left:218px;
    top:201px;
    width:110px;
    height:10px;
    
}

.u90_line {
    background-image: url('../Public_Tiddlers_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u90 {
    position:absolute;
    left:0px;
    top:337px;
    width:119px;
    height:10px;
    
}

.u91 {
    position:absolute;
    left:55px;
    top:372px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:55px;
    top:354px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:119px;
    top:337px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_line {
    background-image: url('../Public_Tiddlers_files/u94_line.png');
}

.u94_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u94 {
    position:absolute;
    left:218px;
    top:337px;
    width:110px;
    height:10px;
    
}

.u95_line {
    background-image: url('../Public_Tiddlers_files/u95_line.png');
}

.u95_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u95 {
    position:absolute;
    left:0px;
    top:274px;
    width:119px;
    height:10px;
    
}

.u96 {
    position:absolute;
    left:55px;
    top:309px;
    width:233px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:55px;
    top:291px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:119px;
    top:274px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../Public_Tiddlers_files/u99_line.png');
}

.u99_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u99 {
    position:absolute;
    left:218px;
    top:274px;
    width:110px;
    height:10px;
    
}

.u100_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u100_container {
    position:absolute;
    left:5px;
    top:290px;
    width:40px;
    height:40px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u101 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u102_container {
    position:absolute;
    left:4px;
    top:287px;
    width:42px;
    height:43px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u103 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u104_container {
    position:absolute;
    left:5px;
    top:354px;
    width:40px;
    height:40px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u105 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u106_container {
    position:absolute;
    left:4px;
    top:351px;
    width:42px;
    height:43px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u107 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u108_container {
    position:absolute;
    left:5px;
    top:223px;
    width:40px;
    height:40px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u109 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u110_container {
    position:absolute;
    left:4px;
    top:220px;
    width:42px;
    height:43px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u111 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u112 {
    position:absolute;
    left:0px;
    top:185px;
    width:329px;
    height:67px;
    overflow:hidden;
}

#pd0u112 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:67px;
    
}

.u113_line {
    background-image: url('../Public_Tiddlers_files/u113_line.png');
}

.u113_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u113 {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:10px;
    
}

.u114 {
    position:absolute;
    left:55px;
    top:35px;
    width:233px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:55px;
    top:17px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:119px;
    top:0px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_line {
    background-image: url('../Public_Tiddlers_files/u117_line.png');
}

.u117_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u117 {
    position:absolute;
    left:218px;
    top:0px;
    width:110px;
    height:10px;
    
}

.u118_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u118_container {
    position:absolute;
    left:5px;
    top:16px;
    width:40px;
    height:40px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u119 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u120_container {
    position:absolute;
    left:4px;
    top:13px;
    width:42px;
    height:43px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u121 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u122 {
    position:absolute;
    left:0px;
    top:125px;
    width:329px;
    height:72px;
    overflow:hidden;
}

#pd0u122 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:72px;
    
}

.u123_line {
    background-image: url('../Public_Tiddlers_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:10px;
    
}

.u124 {
    position:absolute;
    left:55px;
    top:35px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:55px;
    top:17px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:119px;
    top:0px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_line {
    background-image: url('../Public_Tiddlers_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u127 {
    position:absolute;
    left:218px;
    top:0px;
    width:110px;
    height:10px;
    
}

.u128_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u128_container {
    position:absolute;
    left:5px;
    top:17px;
    width:40px;
    height:40px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u129 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u130_container {
    position:absolute;
    left:4px;
    top:14px;
    width:42px;
    height:43px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u131 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:231px;
    overflow:hidden;
}

#pd0u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:231px;
    
}

#u133 {
    position:absolute;
    left:0px;
    top:0px;
    width:328px;
    height:230px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u134 {
    position:absolute;
    left:0px;
    top:60px;
    width:329px;
    height:67px;
    overflow:hidden;
}

#pd0u134 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:67px;
    
}

.u135_line {
    background-image: url('../Public_Tiddlers_files/u135_line.png');
}

.u135_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u135 {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:10px;
    
}

.u136 {
    position:absolute;
    left:55px;
    top:35px;
    width:233px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:55px;
    top:17px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:119px;
    top:0px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_line {
    background-image: url('../Public_Tiddlers_files/u139_line.png');
}

.u139_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u139 {
    position:absolute;
    left:218px;
    top:0px;
    width:110px;
    height:10px;
    
}

.u140_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u140_container {
    position:absolute;
    left:5px;
    top:16px;
    width:40px;
    height:40px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u141 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u142_container {
    position:absolute;
    left:4px;
    top:13px;
    width:42px;
    height:43px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u143 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u144 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:72px;
    overflow:hidden;
}

#pd0u144 {
    position:absolute;
    left:0px;
    top:0px;
    width:329px;
    height:72px;
    
}

.u145_line {
    background-image: url('../Public_Tiddlers_files/u145_line.png');
}

.u145_line {
    position:absolute;
    left:0px;
    top:4px;
    width:119px;
    height:3px;
}

.u145 {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:10px;
    
}

.u146 {
    position:absolute;
    left:55px;
    top:35px;
    width:233px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:55px;
    top:17px;
    width:198px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:119px;
    top:0px;
    width:94px;
    height:12px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_line {
    background-image: url('../Public_Tiddlers_files/u149_line.png');
}

.u149_line {
    position:absolute;
    left:0px;
    top:4px;
    width:110px;
    height:3px;
}

.u149 {
    position:absolute;
    left:218px;
    top:0px;
    width:110px;
    height:10px;
    
}

.u150_normal {
    background-image: url('../Public_Tiddlers_files/u19_normal.png');
}

.u150_container {
    position:absolute;
    left:5px;
    top:17px;
    width:40px;
    height:40px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u151 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../Public_Tiddlers_files/u21_normal.png');
}

.u152_container {
    position:absolute;
    left:4px;
    top:14px;
    width:42px;
    height:43px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:43px;
}

.u153 {
    position:absolute;
    left:2px;
    top:14px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

