body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:38px;
    width:980px;
    height:502px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:502px;
}

.u1 {
    position:absolute;
    left:2px;
    top:243px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../TS_BAR_files/u33_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../TS_BAR_files/u35_normal.png');
}

.u4_container {
    position:absolute;
    left:11px;
    top:5px;
    width:40px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../TS_BAR_files/u37_normal.png');
}

.u6_container {
    position:absolute;
    left:52px;
    top:9px;
    width:180px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Sample_A_Styled_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:630px;
    top:200px;
    width:330px;
    height:260px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:266px;
}

.u10 {
    position:absolute;
    left:2px;
    top:122px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Sample_A_Styled_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:640px;
    top:95px;
    width:310px;
    height:85px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:91px;
}

.u12 {
    position:absolute;
    left:2px;
    top:35px;
    width:306px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Sample_A_Styled_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:10px;
    top:200px;
    width:590px;
    height:260px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:266px;
}

.u14 {
    position:absolute;
    left:2px;
    top:122px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:10px;
    top:60px;
    width:590px;
    height:120px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:126px;
}

.u16 {
    position:absolute;
    left:2px;
    top:17px;
    width:586px;
    height:86px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Sample_A_Styled_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:730px;
    width:980px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:56px;
}

.u18 {
    position:absolute;
    left:2px;
    top:18px;
    width:976px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Sample_A_Styled_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:480px;
    width:980px;
    height:250px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:256px;
}

.u20 {
    position:absolute;
    left:2px;
    top:117px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Sample_A_Styled_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:10px;
    top:490px;
    width:280px;
    height:230px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:236px;
}

.u22 {
    position:absolute;
    left:2px;
    top:30px;
    width:276px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:30px;
    top:213px;
    width:61px;
    height:61px;
    overflow:hidden;
}

#pd1u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u24_normal {
    background-image: url('../Tag_Icon_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u25 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u26_normal {
    background-image: url('../Tag_Icon_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:30px;
    top:300px;
    width:61px;
    height:61px;
    overflow:hidden;
}

#pd1u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u30_normal {
    background-image: url('../Social_Icon_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u31 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u32_normal {
    background-image: url('../Social_Icon_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u33 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:520px;
    top:213px;
    width:61px;
    height:61px;
    overflow:hidden;
}

#pd1u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u36_normal {
    background-image: url('../Social_Icon_files/u30_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u38_normal {
    background-image: url('../Social_Icon_files/u32_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u39 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u41 {
    position:absolute;
    left:30px;
    top:388px;
    width:61px;
    height:61px;
    overflow:hidden;
}

#pd1u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u42_normal {
    background-image: url('../Tag_Icon_files/u24_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u43 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u44_normal {
    background-image: url('../Tag_Icon_files/u26_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u45 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:520px;
    top:388px;
    width:61px;
    height:61px;
    overflow:hidden;
}

#pd1u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u48_normal {
    background-image: url('../Social_Icon_files/u30_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u50_normal {
    background-image: url('../Social_Icon_files/u32_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u51 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:520px;
    top:300px;
    width:61px;
    height:61px;
    overflow:hidden;
}

#pd1u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u54_normal {
    background-image: url('../Tag_Icon_files/u24_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u55 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:61px;
    
}

.u56_normal {
    background-image: url('../Tag_Icon_files/u26_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u57 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Sample_A_Styled_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:112px;
    top:238px;
    width:398px;
    height:210px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:398px;
    height:210px;
}

.u60 {
    position:absolute;
    left:2px;
    top:97px;
    width:394px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:641px;
    top:215px;
    width:280px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:180px;
    top:210px;
    width:330px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Sample_A_Styled_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:640px;
    top:240px;
    width:310px;
    height:52px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:58px;
}

.u64 {
    position:absolute;
    left:10px;
    top:17px;
    width:298px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Sample_A_Styled_files/u63_normal.png');
}

.u65_container {
    position:absolute;
    left:640px;
    top:306px;
    width:310px;
    height:52px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:58px;
}

.u66 {
    position:absolute;
    left:10px;
    top:17px;
    width:298px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Sample_A_Styled_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:640px;
    top:369px;
    width:310px;
    height:52px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:58px;
}

.u68 {
    position:absolute;
    left:2px;
    top:17px;
    width:306px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:860px;
    top:433px;
    width:90px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Sample_A_Styled_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:320px;
    top:490px;
    width:280px;
    height:230px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:286px;
    height:236px;
}

.u71 {
    position:absolute;
    left:2px;
    top:30px;
    width:276px;
    height:120px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Sample_A_Styled_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:630px;
    top:490px;
    width:330px;
    height:230px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:236px;
}

.u73 {
    position:absolute;
    left:2px;
    top:107px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:632px;
    top:497px;
    width:328px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Sample_A_Styled_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:630px;
    top:681px;
    width:327px;
    height:39px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:333px;
    height:45px;
}

.u77 {
    position:absolute;
    left:2px;
    top:12px;
    width:323px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

