* html .u2_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u2_start.png");
}

* html .u2_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u2_end.png");
}

* html .u2_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u2_line.png");
}

* html .u4_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u4_start.png");
}

* html .u4_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u4_end.png");
}

* html .u4_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u4_line.png");
}

* html .u7_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u7_start.png");
}

* html .u7_end {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u7_end.png");
}

* html .u7_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="New_Page_1_1_files/u7_line.png");
}

